body {
  font-family: sans-serif;
  text-align: center;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

input[type="text"] {
  padding: 0.5em;
  line-height: 2em;
  display: block;
  font-size: 2em;
}

button {
  padding: 1em;
}
